
@{
    ViewBag.Title = "Register_Pet_Success";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines page layout-->
}

<!--New row-->
<div class="row">
    <!--Main div-->
    <div class="col-lg-12 large-insert">
        <h1 class="title-center">Pet Registration Complete!</h1>
        <p class="text-center">
            Congratulations! You have successfully registered your pet!
        </p>
        <br />
        <p class="text-center">
            @Html.ActionLink("Make a Booking", "Select_Pet", "Booking", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) <!--Links to Booking-->
            @Html.ActionLink("Stop For Now", "My_Account", "User", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) <!--Links to My_Account-->
            @Html.ActionLink("Register Another Pet", "Register_Pet", "Booking", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) <!--Links to Register_Pet-->
        </p>
    </div>
</div>
