
@{
    ViewBag.Title = "Stripe Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-7 large-insert">
        <form action="/Booking/Booking_Success" method="POST">
            <article>
                <label>PetBucket Payment</label>
            </article>
            <script src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="@ViewBag.StripePublishKey"
                    data-locale="auto"
                    data-description="PetBucket Payment"
                    data-amount="@ViewBag.ServiceCharge">
            </script>
        </form>
    </div>
</div>

