
@{
    ViewBag.Title = "Stripe_Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stripe_Payment</h2>
<form action="/Booking/Stripe_Charged" method="POST">
    <article>
        <label>Amount: $5.00</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePublishKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="500">
    </script>
</form>

