@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-lg-7 large-insert">
        <h1>About</h1>
        <p>Placeholder</p>
        <h2>Conact Us</h2>
        <p>Placeholder</p>
    </div>
</div>




