@{
    ViewBag.Title = "About";
}


<div class="row">
    <div class="col-lg-12 large-insert">
        <h1>About Us</h1>
        <p>PetBucket is a small, locally based, pet boarding company dedicated to providing a unique and quality
        service to our customers. By providing you, the customers, with more options we can ensure that your pet is getting the 
        right service and for the right price. With industry-first features such as the always available livestream, and our 
        To-Your-Door service we are bringing new inovations that mean that you get a better service everytime.
        </p>
        <h2>Contact Us</h2>
        <p>Our address is 43 xxxxx Street, xxxxxx Suburb, NSW, xxxx Postcode.
        If you wish to contact us our number is xxxx-xxxx and our email is xxxxxx@xxx.com. For after hours and emergency calls (current customers only),
        please call xxxx-xxxx.</p>
     </div>
</div>

