@{
    ViewBag.Title = "About";
}

<!--The About page informs users about PetBucket and how to contact PetBucket-->

<!--New row-->
<div class="row">
    <!--Main insert-->
    <div class="col-lg-7 large-insert">
        <h1>About</h1>
        <p>Placeholder</p>
        <h2>Conact Us</h2>
        <p>Placeholder</p>
    </div>
</div>




