@{
    ViewBag.Title = "About";
}

<!--The About page informs users about PetBucket and how to contact PetBucket-->

<!--New row-->
<div class="row">
    <!--Main insert-->
    <div class="col-lg-7 large-insert">
        <h1>About</h1>
        <p>Pet Bucket is a service located in the Hunter Valley New South Wales that caters to your Pet Minding needs.</p>
        <p>With a variety of services on offer we will tailor our care to your specific needs. Whether that is to bring your pet to our locally ran service centers or we will come to you.</p>
        <p>We pride ourselves on a faultless track record in allowing you to take that trip you have always wanted without the need to worry about your pets.</p>
        <p>Our highly trained team are available at any time to answer your queries.</p>
        <h2>Conact Us</h2>
        <p>Our Office is located at: 42 Lumby Lane, Sawyers Gully, NSW, 2326</p>
        <p>Our Office Phone number is: 0431 291969</p>
        <p>Alternatively we can also be contacted via email at: petbucket@outlook.com</p>
    </div>
</div>




