
@{
    ViewBag.Title = "Community";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines layout to be used-->
}

<!--Community page allows users to connect with each other and have some fun-->

<!--New row-->
<div class="row">
    <!--Title insert-->
    <div class="col-lg-12 large-insert">
        <h1 class="title-center">Community</h1>
        <p class="text-center"></p>
    </div>
</div>

<!--New row-->
<div class="row">
    <!--Centered insert-->
    <div class="col-md-7 insert middle-center">
        <h2>Fun Facts</h2>
        <ul>
            <li>94% of pet owners say their animal pal makes them smile more than once a day.</li>
            <li>Dogs sweat through their foot pads to help keep them cool.  They also keep cool by panting.</li>
            <li>Dalmatians are born without spots!  They are born with plain white coats with their first spots appearing after they are 1 week old.</li>
            <li>A dog’s sense of smell is 1000 times greater than a human!</li>
            <li>Nine percent of dog owners will have a birthday party for their pet. Here at Put Bucket, we make sure this is 100%!</li>
            <li>Cat whiskers are so sensitive they can detect the slightest change in air current.</li>
            <li>Cats have 32 muscles in each ear.</li>
            <li>Cats have over one hundred vocal sounds, while dogs have about ten!</li>
            <li>Cats spend approximately 30% of their waking hours grooming themselves.</li>
            <li>A newborn kangaroo is the size of a lima bean.</li>
            <li>Dogs have about 100 different facial expressions, most of them made with the ears. </li>
            <li>A cat can jump as much as seven times its height. </li>
            <li>A pack of kittens is called a kindle, while a pack of adult cats is called a clowder. </li>
            <li>Larger parrots such as the macaws and cockatoos live more than 75 years. </li>
        </ul>
</div>
</div>

<!--New row-->
<div class="row">
    <!--Centered insert-->
    <div class="col-md-7 insert middle-center">
        <h1>    Basic Dog Commands   </h1>
        <p>By teaching your dog the seven basic commands, you’re setting him on the path of an easier, less-stressful life.</p>
        <h2>Start your dog young</h2>
        <p>Teaching your dog can be a fun and rewarding experience. Dogs are fast learners who rely on you for their training, which also helps nurture your relationship. Together, the basic commands – “Come”, “Sit”, “Stay”, “No”, “Down”, “Leave it” and “Off” – will shape a good canine citizen. Reliably trained dogs have an easier and less stressful life than their untrained counterparts, and are less likely to stray.</p>
        <p>Young puppies make eager pupils, so as soon as your new arrival comes home, it’s time to start training. It’s a myth that puppies must be six months or older before they can be properly trained, because the younger they are, the easier it is to teach them and the faster they learn! Puppies are like sponges, waiting to soak up all the learning you can throw at them.</p>
        <p>Here you’ll find some advice on the basics, for more detailed or advanced training advice, try contacting a professional trainer, invest in a training DVD or read one of the many good books available on the subject.</p>
        <p><strong></strong></p>
        <h2>Clicker-training your dog</h2>
        <p>A clicker is a small plastic box (available from pet stores) that fits in the palm of your hand. Press one end with your thumb and it makes a distinct double 'click' noise.</p>
        <p>The basics of clicker training are outlined below.</p>
        <ul>
            <li>To tune your dog or puppy into the clicker, arm yourself with a dozen treats.</li>
            <li>Hand them to your pet one by one, with a short pause between each one.</li>
            <li>At the exact moment he or she takes the treat, give a click.</li>
            <li>Your dog will soon realise that the click means a treat, and will begin to work hard to earn his click. It becomes a 'yes' marker – a way of telling your dog he or she has done well at the moment of action. </li>
            <li>Many training classes use the clicker. But the exercises below can be done with or without a clicker.</li>
        </ul>
        <h2>Training rules</h2>
        <ul>
            <li>Keep training sessions short and sweet. It's better to do six five-minute sessions than one half-hour stint each day – young puppies often lose concentration easily.</li>
            <li>Only train when you are in a good mood, or you may take your stress out on your pet.</li>
            <li>Always end training sessions on a positive note with an exercise you know your dog can do easily, so you finish with the taste of success.</li>
            <li>At first, train with no distractions. Establish what you are trying to teach in a quiet environment and only add distractions later, so that your dog learns to respond in a range of environments.</li>
            <li>Training must always be reward-based – treats, toys, games and cuddles. Negative, compulsive, punishing techniques are cruel and don’t work. Never use a choke or check chain as you can injure your dog’s neck very easily. If you need more physical control, fit a head collar.</li>
        </ul>
        <p>Training your dog is an excellent way for you to bond with him and ensure a strong and healthy relationship.</p>
        <p>&nbsp;</p>
    </div>
</div>

<!--New row-->
<div class="row">
    <!--Centered insert-->
    <div class="col-md-7 insert middle-center">
        <h2>Reviews</h2>
        <p>Find out what other people are saying about us. Or leave your own review and tell us what you thought of PetBucket.</p>
        <!--Links to review page-->
        <p>@Html.ActionLink("Reviews", "Reviews", "Home", new { area = "" }, new { @class = " btn btn-primary" })</p>
    </div>
</div>

