
@{
    ViewBag.Title = "Community";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="jumbotron large-insert">
        <h1>Community</h1>
        <p>Welcome to our community where you can see our various community members and their pets. 
        Check out the gallery for the latest photos and videos of the pets we've taken care of. Visit the 
        Fun Facts section to learn some new and interesting things about your favourite pets. And stop by the Trainer's Tips
        for all the latest tips and tricks to help you raise your pets!
        </p>
    </div>
</div>
<br />
<div class="wrapper">
    <div class="row">
        <div class="col-md-11 large-insert">
            <h2>Fun Facts</h2>
            <p>Placeholder</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-11 large-insert">
            <h2>Training Tips</h2>
            <p>Placeholder</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-11 large-insert">
            <h2>Gallery</h2>
            <p>Placeholder</p>
        </div>
    </div>

</div>