
@{
    ViewBag.Title = "Livestream";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 large-insert">
        <h1 class="title-center">Livestreams</h1> <!--Should display pets name-->
        <p class="text-center">Placeholder</p>
    </div>
</div>
<div class="row">
    <div class="col-md-7 insert middle-center">
        <h2 class="text-center">Main Area</h2>
        <p class="text-center">
            Our 24/7 livestream of the main area. 
        </p>
        <p>
           <img src="../Images/fake_livestream.gif" alt="Livestream" class="livestream"/>
        </p>
        <div class="row">
            <h2 class="text-center">Side Area</h2>
            <p class="text-center">
                Our 24/7 livestream of the side area.
            </p>
            <p>
                <img src="../Images/fake_livestream2.gif" alt="livestream" class="livestream" />
            </p>
        </div>
    </div>
</div>