
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-5 login-window">
            <h1>Login</h1>
            <form method="post" action="#" id="login-form">
                <p>
                    Email/Phone Number: <br />
                    <input type="text" id="username-txt" name="username" />
                </p>
                <p>
                    Password:
                    <br />
                    <input type="text" naem="password" id="password-txt" />
                </p>
                <p>
                    <input type="submit" value="Login" id="login-submit" />
                </p>
            </form>
            <p>
                <a href="#">Click here</a> if you've forgotten your email, phone number or password.
            </p>
            <p>
                Don't have an account? @Html.ActionLink("Click Here", "Register", "Home") to create one!
            </p>
        </div>
    </div>
</body>
</html>

