@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-5 login-window">
            <h1>Register</h1>
            <form>
                <p>
                    First Name: <br />
                    <input type="text" name="f-name" />
                </p>
                <p>
                    Last Name:
                    <br />
                    <input type="text" name="l-name" />
                </p>
                <p>
                    Email Address:
                    <br />
                    <input type="text" name="email-address" />
                </p>
                <p>
                    Confirm Email Address:
                    <br />
                    <input type="text" name="con-email-address" />
                </p>
                <p>
                    Home Phone (if applicable): <br />
                    <input type="text" name="h-phone" />
                </p>
                <p>
                    Mobile Phone (if applicable): <br />
                    <input type="text" name="m-phone" />
                </p>
                <p>
                    Address: <br/>
                    <input type="text" name="address" />
                </p>
                <p>
                    Age: <br />
                    <input type="text" name="age" />
                </p>
                <p>
                    Emergency Contact Name: <br/>
                    <input type="text" name="ec-name" />
                </p>
                <p>
                    Emergency Contact Number: <br />
                    <input type="text" name="ec-number" />
                </p>
                <p>
                    Password: <br />
                    <input type="text" name="new-password" />
                </p>
                <p>
                    Confirm Password: <br />
                    <input type="text" name="con-new-password" />
                </p>
                <p>
                    <input type="submit" value="Register" />
                </p>
            </form>
        </div>
    </div>
</body>
</html>
