@model IEnumerable<PetBucket4.Models.Review>

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--New row-->
<div class="row">
    <!--Main Centered insert-->
    <div class="col-md-7 insert middle-center">
        <h1>Reviews</h1>
        <p>Find out what other people are saying about us. Or leave your own review and tell us what you thought of PetBucket.</p>
        <p>@Html.ActionLink("Write a Review", "New_Review", "Home", new { area = "" }, new { @class = " btn btn-primary" })</p> <!--links to New_review-->
    </div>
</div>

<!--New row-->
<div class="row">
    <div class="col-md-7 insert middle-center">
        <table class="table">
            <tr>
                <th>
                    Review Text
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Date Created
                </th>

            </tr>

            <!--displays each review in db-->
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.review_text)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.rating)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.created)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>