@model PetBucket4.Models.Review

@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines layout to be used-->
}
<!--User can only see 'if' content if user is logged in-->
@if (Session["UserId"] != null)
{

    <div class="col">
        <!-- New medium insert-->
        <div class="col-md-5 dual-small-insert">
            <h2>Reviews</h2>
            <p>Placeholder for all reviews</p>
            <br />
            <!--Displays m amount of reviews-->
            @{
                var m = 10;
                for (var i = 1; i <= m; i++)
                {
                    <div class="row large-insert text-center">
                        <p>Displays each review based on reviewid(@i)</p>
                        <br />
                    </div>
                }
            }
            <button type="button" value="Show More" style="height: 50px; width: 100px">Show More</button> <!--Displays m more reviews, currently not working-->
        </div>
    </div>

    <p>@Html.ActionLink("Submit Review", "New_Review", new { area = "" }, new { @class = " btn btn-primary" })</p>

}


        @*Users not logged in will see 'else' content*@
else
{



        <div class="col">
            <!-- New medium insert-->
            <div class="col-md-5 dual-small-insert">
                <h2>Reviews</h2>
                <p>Placeholder for all reviews</p>
                <br />
                <!--Displays m amount of reviews-->
                @{
                    var m = 10;
                    for (var i = 1; i <= m; i++)
                    {
                        <div class="row large-insert text-center">
                            <p>Displays each review based on reviewid(@i)</p>
                            <br />
                        </div>
                    }
                }
                <button type="button" value="Show More" style="height: 50px; width: 100px">Show More</button> <!--Displays m more reviews, currently not working-->
            </div>
        </div>

        <p>@Html.ActionLink("Submit Review", "New_Review", new { area = "" }, new { @class = " btn btn-primary" })</p>

}
