
@{
    ViewBag.Title = "Change_Password_Success";
    Layout = "~/Views/Shared/_Layout.cshtml"; <!--Defines layout-->
}


<!--This page is currently unlinked-->
<!--New row-->
<div class="row">
    <!--Main div-->
    <div class="col-lg-12 large-insert">
        <h1 class="title-center">Password Changed!</h1>
        <p class="text-center">
            Congratulations! You have successfully changed your password!
        </p>
        <br />
        <p class="text-center">
            @Html.ActionLink("Continue", "Account_Details", "User", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) <!--Links to My_Account-->
        </p>
    </div>
</div>