
@{
    ViewBag.Title = "Manage_Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12 large-insert">
        <h1 class="title-center">Manage Your Bookings</h1>
        <p class="text-center">View and update your current and upcoming bookings with us!</p>
    </div>
</div>

<!--This page needs to be populated with data from the database relative to the user login. Below is a style example only.-->

<div class="row">
    <div class="col-md-5 dual-small-insert">
        <h2>Your Current Bookings</h2>
        <p> Number of Pets: 2<br />
            Pet Name(s): Fluffy, Sprinkles<br />
            Pet Type(s): Dog, Cat<br />
            Dates: 11/09/17 - 16/09/17<br />
            Service: Basic <br />
            @Html.ActionLink("Edit This Booking", "#", "Home", new { area = "" }, new { @class = " btn btn-primary" })</p>
        <p>
            Number of Pets: 1<br />
            Pet Name(s): Rosey<br />
            Pet Type(s): Bird<br />
            Dates: 10/09/17 - 16/09/17<br />
            Service: Premium <br />
            @Html.ActionLink("Edit This Booking", "#", "Home", new { area = "" }, new { @class = " btn btn-primary" })
        </p>
    </div>
    <div class="col-md-5 dual-small-insert">
        <h2>Your Upcoming Bookings</h2>
        <p>
            Number of Pets: 1 <br />
            Pet Name(s): Bubbles<br />
            Pet Type(s): Fish<br />
            Dates: 20/09/17 - 30/09/17<br />
            Service: Standard <br />
            @Html.ActionLink("Edit This Booking", "#", "Home", new { area = "" }, new { @class = " btn btn-primary" })
        </p>
        <p>
            Number of Pets: 3<br />
            Pet Name(s): Carrot, Ginger, Lucy<br />
            Pet Type(s): Rabbit, Cat<br />
            Dates: 18/10/17 - 21/10/17<br />
            Service: To-Your-Door <br />
            @Html.ActionLink("Edit This Booking", "#", "Home", new { area = "" }, new { @class = " btn btn-primary" })
        </p>
    </div>
</div>