
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 large-insert">
        <h1 class="title-center">Services</h1>
        <p class="text-center">Placeholder</p>
    </div>
</div>
<div class="row">
    <div class="col-md-7 insert middle-center">
        <h2>Basic Service</h2>
        <p>
            Placeholder
        </p>
        <p>@Html.ActionLink("Make a Booking With This Service", "Booking", "Home", new { area = "" }, new { @class = " btn btn-primary" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-7 insert middle-center">
        <h2>Standard Service</h2>
        <p>Placeholder</p>
        <p>@Html.ActionLink("Make a Booking With This Service", "Booking", "Home", new { area = "" }, new { @class = " btn btn-primary" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-7 insert middle-center">
        <h2>Premium Service</h2>
        <p>Placeholder</p>
        <p>@Html.ActionLink("Make a Booking With This Service", "Booking", "Home", new { area = "" }, new { @class = " btn btn-primary" })</p>
    </div>
</div>

<div class="row">
    <div class="col-md-7 insert middle-center">
        <h2>To-Your-Door Service</h2>
        <p>Placeholder</p>
        <p>@Html.ActionLink("Make a Booking With This Service", "Booking", "Home", new { area = "" }, new { @class = "btn btn-primary" })</p>
    </div>
</div>
