/*Applied to all body elements*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image: url("../Images/dog2.jpg");
       Old background. Keep just in case. 
    */
    background-image: url("../Images/pawprint.png");
    background-color: #4A5361;
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
}

/* Set padding and margins to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p {
    font-family: 'Lato', sans-serif;
}

/*Sets PetBucket logo height*/
.logo {
    height: 75px;
}

/*Floats, Login, Register, Staff, Staff Home, and My Account pages to right of navbar*/
.login-list {
    float: right;
}

/*Generic class used by most visual divs*/
.insert {
    background-color: #eeeeee;
    border-radius: 6px;
    padding-bottom: 10px;
}

/*Style for small inserts on index page*/
.index-small-insert {
    background-color: #eeeeee;
    margin-right: 18px;
    margin-left: 18px;
    margin-bottom: 30px;
    border-radius: 6px;
    width: 30%;
    padding-bottom: 10px;
    height: 255px;
}

.index-twitter {
    background-color: #eeeeee;
    margin-right: 18px;
    margin-left: 18px;
    margin-bottom: 30px;
    border-radius: 6px;
    padding-bottom: 10px;
}

/*Style for index-small-insert buttons*/
.index-small-insert-btn{
    position: absolute;
    bottom: 10px;
}

/*Style for buttons*/
.btn{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

/*Style for placing two inserts side by side*/
.dual-small-insert {
    background-color: #eeeeee;
    border-radius: 6px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 48%
}

/*Style for large insert*/
.large-insert {
    background-color: #eeeeee;
    border-radius: 6px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 15px;
}

/*Style for login div, not sure if currently being used*/
.login-window {
    padding-bottom: 10px;
    background-color: #eeeeee;
    border-radius: 6px;
}

/*Style for a centered div. Works best with col-md-7 bootstrap class*/
.middle-center{ 
    margin-left: 21%;
    margin-right: 21%;
    margin-bottom: 30px;
}

/*Centers a heading or any text*/
.title-center{
    text-align: center;
    padding: 25px;
}

/*Style for sub-headings*/
.sub-heading{
    font-size: 1.5em;
}

/*Style and picture link for Facebook logo in footer*/
.logo-fb {
    background: url(../Images/facebook.png) no-repeat;
    display: block;
    height: 75px;
    text-indent: -9999px; /* hides the link text */
}

/*Style and picture link for Instagram logo in footer*/
.logo-insta {
    background: url(../Images/instagram.png) no-repeat;
    display: block;
    height: 75px;
    text-indent: -9999px; /* hides the link text */
}

/*Style and picture link for Twitter logo in footer*/
.logo-twit {
    background: url(../Images/twitter.png) no-repeat;
    display: block;
    height: 75px;
    text-indent: -9999px; /* hides the link text */

}

/*Style and picture link for email logo in footer*/
.logo-email {
    background: url(../Images/email-icon.png) no-repeat;
    display: block;
    height: 75px;
    text-indent: -9999px; /* hides the link text */
}

/*Style for footer*/
.footer {
    margin-bottom: -50px; /*Decreases blank space at bottom of footer*/
}

/*Style for list of logos in footer*/
.footer li {
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }

/*Style for footer copyright*/
.copyright {
       float: right;
    }

/*Style for button. Use in conjunction with any boostrap default button*/
.b-button{
    float: right;
    margin-right: 10px;
}

/*Changes footer text colour*/
.footer-txt {
    color: #E5E5E5;
}

/*Centers element within livestream div*/
.livestream{
    margin: auto;
    width: 50%;
    display: block;
    margin-bottom: 20px;
}

/*Style for carousel*/
#indexCarousel{
    margin: 30px;
}

/*Styling for gallery items*/
.gallery {
    margin: 5px;
    float: left;
    width: 270px;
}

/*Styling for images in gallery*/
.gallery img {
    width: 100%;
    height: auto;
}

/*Gallery image description*/
.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/*used for standard monitor screen sizes */
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

/*used for screens smaller than 700px*/
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

/*Used for screens smaller than 500px*/
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

/*Ensures items stay within their divs*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.edit{
    border-style: solid;
    margin-top: 10px;
    padding: 5px;
    border-width: 1px;
}