body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../Images/dog2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
    min-height: 100%;
    margin-bottom: -50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.logo {
    height: 75px;
    margin-top: -5px;
    margin-left: -10px;
}

.login-list {
    float: right;
}

.insert {
    opacity: 0.9;
    background-color: #eeeeee;
}

.small-insert {
    opacity: 0.9;
    background-color: #eeeeee;
    margin-right: 18px;
    margin-left: 18px;
    margin-bottom: 30px;
    border-radius: 6px;
}

.center-insert {
    opacity: 0.9;
    background-color: #eeeeee;
    margin-right: 0px;
    margin-left: 100px;
    margin-bottom: 30px;
    border-radius: 6px;
}

.force-width-30{
    width: 30%
}

.large-insert {
    opacity: 0.9;
    background-color: #eeeeee;
    border-radius: 6px;
    margin-left: 36px;
    padding: 20px;
}

.large-insert-title{
    opacity: 0.9;
    background-color: #eeeeee;
    border-radius: 6px;
    margin-left: 36px;
    padding: 5px;
}

.login-window {
    padding-bottom: 10px;
    opacity: 0.9;
    background-color: #eeeeee;
    border-radius: 6px;
}

.footer {
    bottom: 0px;
}

.wrapper{
    margin-left: 50px;
}