body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../Images/dog2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #40495c;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.logo {
    height: 75px;
}

.login-list {
    float: right;
}

.insert {
    opacity: 0.9;
    background-color: #eeeeee;
    border-radius: 6px;
    padding-bottom: 10px;
}

.index-small-insert {
    opacity: 0.9;
    background-color: #eeeeee;
    margin-right: 18px;
    margin-left: 18px;
    margin-bottom: 30px;
    border-radius: 6px;
    width: 30%;
    padding-bottom: 10px;
}

.dual-small-insert {
    opacity: 0.9;
    background-color: #eeeeee;
    border-radius: 6px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 48%
}

.large-insert {
    opacity: 0.9;
    background-color: #eeeeee;
    border-radius: 6px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.login-window {
    padding-bottom: 10px;
    opacity: 0.9;
    background-color: #eeeeee;
    border-radius: 6px;
}


.middle-center{ 
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
}

.title-center{
    text-align: center;
    padding: 25px;
}

.sub-heading{
    font-size: 1.5em;
}
